*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.mainindex{
  margin-top: 30px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; 
}

header{
    width: 100%;
    height: 130%;
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(bromo.jpg) ;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.first-ul {
    width: 100%;
    height: 10vh;
    background: rgba(0,0,0,0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    list-style-type: none; 
}

.first-ul .logo{
    width: 25%;
    text-align: center;
}

.first-li {
    float: left;
    text-align: center;
}

.first-li a{
    width: 100%;
    text-decoration: none;
    color: black;
}

.first-li a, .dropdown-btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 20px 24px;
    font-weight: bold;
}

.first-li a:hover, .dropdown:hover .dropdown-btn {
    color:red;
    padding: 20px 24px;
    outline: none;
    text-transform: uppercase;
    text-decoration: none; 
    transition: all .5s ease;
}

.dropdown {
    display:inline-block;
}

.dropdown-menu {
    display: none;
    position:absolute;
    background-color:rgba(0,0,0,0.3);
    min-width: 160px;
    box-shadow: 0px 20px 24px 0px rgba(0,0,0,0.3);
    z-index: 10000;
}

.dropdown-menu a {
    color: white;
    padding: 20px 24px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: bold;
}

.dropdown-menu a:hover {
    background-color: red;
    color: #fff;
    outline: none;
    text-transform: uppercase;
    text-decoration: none; 
    transition: all .5s ease;
    font-weight: bold;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.main2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 100px;
}

.home h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;

}

.home h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

.home p{
    font-size: 25px;
    color: #eee;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;

}

.home a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}

.home .buttonone{
    background: red;
    color: white;
}

.buttonone:hover{
    background:rgba(0,0,0,0.5);
    color: white;
}

.home .buttontwo{
    background: white;
    color: black;
}

.buttontwo:hover{
    background: rgba(0,0,0,0.5);
    color: white;
}

.buttonthree {
  margin-top: -150px !important;
  background: red;
  color: white;
  padding: 20px 38px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all .5s ease;
}

.buttonthree:hover{
  background: rgba(0,0,0,0.5);
  color: white;
}

.change_content:after{
    content: '';
    animation: changetext 10s infinite linear;
    color: red;
}

@keyframes changetext{
    0% {content:"Benvenuto";}
    20% {content:"Welcome";}
    35% {content: "eoseo oseyo";}
    60% {content: "Bienvenido"}
    80% {content: "Bienvenue"}
    100% {content: "Willkommen"}
}


.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

.resume {
  width: 800px;
  height: 740px;
  display: flex;
  margin: 50px auto;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.resume .resume_left {
  width: 280px;
  background: rgba(0,0,0,0.8);
}

.resume .resume_left .resume_profile {
  width: 100%;
  height: 280px;
}

.resume .resume_left .resume_profile img {
  width: 100%;
  height: 100%;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: #fff;
}

.resume .resume_left .regular {
  color: red;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid red;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume .resume_left ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.resume .resume_left ul li:last-child {
  margin-bottom: 0;
}

.resume .resume_left ul li .icon {
  width: 35px;
  height: 35px;
  background: #fff;
  color: red;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 16px;
  position: relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume .resume_left ul li .data {
  color: red;
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: red;
  justify-content: space-between;
  align-items: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 25%;
}

.resume .resume_left .resume_skills ul li .skill_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background:white;
  position: relative;
}

.resume .resume_left .resume_skills ul li .skill_per {
  width: 15%;
}

.resume .resume_left .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: red;
}

.resume .resume_right {
  width: 520px;
  background: rgba(0,0,0,0.6);
  padding: 25px;
  color: white;
  list-style-type: none; 
}

.resume .resume_right .bold {
  color: red;
}

.semi-bold{
  color: red;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
}

.resume .resume_right ul li {
  position: relative;
  list-style-type: none; 
}

.resume .resume_right ul li .date {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  list-style-type: none; 

}

.resume .resume_right ul li .info {
  margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -25px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid red;
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after {
  content: "";
  position: absolute;
  top: 14px;
  left: -21px;
  width: 2px;
  height: 115px;
  background: red;
}

.resume .resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none; 
}

.resume .resume_right .resume_hobby ul li {
  width: 80px;
  height: 80px;
  border: 2px solid red;
  border-radius: 50%;
  position: relative;
  color: red;
}

.resume .resume_right .resume_hobby ul li i {
  font-size: 30px;
}

.resume .resume_right .resume_hobby ul li:before {
  content: "";
  position: absolute;
  top: 40px;
  right: -52px;
  width: 50px;
  height: 2px;
  background: red;
}

.resume .resume_right .resume_hobby ul li:last-child:before {
  display: none;
}

#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align: center;
    height: 360px;
    width: 720px;
    border: 5px solid black;
    border-collapse:collapse;
}

#img2{
    align: center;
    border: 2px solid black;
    border-collapse:collapse;
    transition: 1s;
}

#img3{
    align: center;
    border: 2px solid black;
    border-collapse:collapse;
    transition: 1s;
}

#img2:hover
{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

#img3:hover
{
        -webkit-transform: scale(1.6);
        -ms-transform: scale(1.6);
        transform: scale(1.6);
}

#tb2{
    width: 35%;
    align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

table, th, td {
	border: 3px solid black;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.2);
}

th, td {
	padding: 3px;
    text-align: center;
    color: whitesmoke;
    font-weight: 200;
}

section .container{
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  position: relative;
}

section::before{
  content: '';
  top: 0;
  left: 0;
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
}


section .container .contactinfo{
  width: 500px;
  height: 95%;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  border-radius: 20%;
}

section .container .contactinfo h2{
  color: #fff;
  font-size: 70px;
  font-weight: 500;
  text-align: center;
}

section .container .contactinfo .info{
  position: relative;
  margin: 20px 0;
}

section .container .contactinfo .info .infoli{
  position: relative;
  display: flex;
  margin: 75px 0;
  cursor: pointer;
  align-items: center;
}

section .container .contactinfo .info .infoli span:nth-child(1){
  width: 30px;
  min-width: 30px;
  font-size: 50px;
  position: absolute;
}

section .container .contactinfo .info .infoli span:nth-child(2){
  color: #fff;
  margin-left: 80px;
  font-weight: 300;
  opacity: 1;
  font-size: 26px;
  justify-content: left;
  text-align: center;
}

section .container .contactinfo .info .infoli:hover span:nth-child(2){
  opacity: 0.6;
}

section .container .contactinfo .sci{
  position: relative;
  display: flex;
}

section .container .contactinfo .sci li{
  list-style: none;
  margin-right: 59px;
  align-items: center; 
}

section .container .contactinfo .sci li .iconcon{
  text-decoration: none;
  opacity: 1;
}

section .container .contactinfo .sci li:hover .iconcon{
  opacity: 0.6;
}

.slidershow{
  margin-top: 80px;
  width: 1000px;
  height: 600px;
  overflow: hidden;
  border: 3px solid black;
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar{
  width: 50px;
  height: 10px;
  border: 2px solid black;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover{
  background: black;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}

#r2:checked ~ .s1{
  margin-left: -20%;
}

#r3:checked ~ .s1{
  margin-left: -40%;
}

#r4:checked ~ .s1{
  margin-left: -60%;
}

#r5:checked ~ .s1{
  margin-left: -80%;
}
